--
-- PostgreSQL database dump
--

\restrict Td4C3e4LRpaOPLMxxFWBrTt7UQiz4TmzFgoDW11VViVa6D4JImPQc3gxEfooSXG

-- Dumped from database version 17.6 (0d47993)
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: auth; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

CREATE SCHEMA auth;


ALTER SCHEMA auth OWNER TO neondb_owner;

--
-- Name: CustomizationType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."CustomizationType" AS ENUM (
    'BASE_LAYOUT',
    'TEXT',
    'IMAGES',
    'MULTIPLE_CHOICE'
);


ALTER TYPE public."CustomizationType" OWNER TO neondb_owner;

--
-- Name: FeedSectionType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."FeedSectionType" AS ENUM (
    'RECOMMENDED_PRODUCTS',
    'DISCOUNTED_PRODUCTS',
    'FEATURED_CATEGORIES',
    'FEATURED_ADDITIONALS',
    'CUSTOM_PRODUCTS',
    'NEW_ARRIVALS',
    'BEST_SELLERS'
);


ALTER TYPE public."FeedSectionType" OWNER TO neondb_owner;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'PAID',
    'SHIPPED',
    'DELIVERED',
    'CANCELED'
);


ALTER TYPE public."OrderStatus" OWNER TO neondb_owner;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'AUTHORIZED',
    'IN_PROCESS',
    'IN_MEDIATION',
    'REJECTED',
    'CANCELLED',
    'REFUNDED',
    'CHARGED_BACK'
);


ALTER TYPE public."PaymentStatus" OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."Category" OWNER TO neondb_owner;

--
-- Name: Customization; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Customization" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    item_id text NOT NULL,
    price double precision DEFAULT 0 NOT NULL,
    "isRequired" boolean DEFAULT false NOT NULL,
    type public."CustomizationType" NOT NULL,
    customization_data jsonb NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Customization" OWNER TO neondb_owner;

--
-- Name: FeedBanner; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."FeedBanner" (
    id text NOT NULL,
    feed_config_id text NOT NULL,
    title text NOT NULL,
    subtitle text,
    image_url text NOT NULL,
    link_url text,
    text_color text DEFAULT '#FFFFFF'::text,
    is_active boolean DEFAULT true NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FeedBanner" OWNER TO neondb_owner;

--
-- Name: FeedConfiguration; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."FeedConfiguration" (
    id text NOT NULL,
    name text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FeedConfiguration" OWNER TO neondb_owner;

--
-- Name: FeedSection; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."FeedSection" (
    id text NOT NULL,
    feed_config_id text NOT NULL,
    title text NOT NULL,
    section_type public."FeedSectionType" NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FeedSection" OWNER TO neondb_owner;

--
-- Name: FeedSectionItem; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."FeedSectionItem" (
    id text NOT NULL,
    feed_section_id text NOT NULL,
    item_type text NOT NULL,
    item_id text NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    is_featured boolean DEFAULT false NOT NULL,
    custom_title text,
    custom_subtitle text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FeedSectionItem" OWNER TO neondb_owner;

--
-- Name: FinancialSummary; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."FinancialSummary" (
    id text NOT NULL,
    date date NOT NULL,
    total_sales double precision DEFAULT 0 NOT NULL,
    total_net_revenue double precision DEFAULT 0 NOT NULL,
    total_fees double precision DEFAULT 0 NOT NULL,
    total_orders integer DEFAULT 0 NOT NULL,
    approved_orders integer DEFAULT 0 NOT NULL,
    canceled_orders integer DEFAULT 0 NOT NULL,
    pending_orders integer DEFAULT 0 NOT NULL,
    total_products_sold integer DEFAULT 0 NOT NULL,
    total_additionals_sold integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FinancialSummary" OWNER TO neondb_owner;

--
-- Name: Item; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Item" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    type text DEFAULT 'outros'::text NOT NULL,
    stock_quantity integer DEFAULT 0 NOT NULL,
    base_price double precision DEFAULT 0 NOT NULL,
    discount double precision DEFAULT 0,
    image_url text,
    allows_customization boolean DEFAULT false NOT NULL,
    layout_base_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Item" OWNER TO neondb_owner;

--
-- Name: ItemConstraint; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ItemConstraint" (
    id text NOT NULL,
    target_item_id text NOT NULL,
    target_item_type text NOT NULL,
    target_item_name text,
    related_item_id text NOT NULL,
    related_item_type text NOT NULL,
    related_item_name text,
    constraint_type text DEFAULT 'REQUIRES'::text NOT NULL,
    message text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ItemConstraint" OWNER TO neondb_owner;

--
-- Name: Layout; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Layout" (
    id text NOT NULL,
    item_id text NOT NULL,
    name text NOT NULL,
    image_url text NOT NULL,
    layout_data jsonb NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Layout" OWNER TO neondb_owner;

--
-- Name: LayoutBase; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."LayoutBase" (
    id text NOT NULL,
    name text NOT NULL,
    item_type text NOT NULL,
    image_url text NOT NULL,
    width integer NOT NULL,
    height integer NOT NULL,
    slots jsonb NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    additional_time integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."LayoutBase" OWNER TO neondb_owner;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    user_id text NOT NULL,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    discount double precision DEFAULT 0 NOT NULL,
    total_price double precision NOT NULL,
    delivery_address text,
    delivery_date timestamp(3) without time zone,
    shipping_price double precision,
    payment_method text,
    grand_total double precision,
    recipient_phone text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    complement text,
    send_anonymously boolean DEFAULT false,
    delivery_city text,
    delivery_state text,
    customizations_drive_processed boolean DEFAULT false NOT NULL,
    customizations_drive_processed_at timestamp(3) without time zone,
    google_drive_folder_id text,
    google_drive_folder_url text
);


ALTER TABLE public."Order" OWNER TO neondb_owner;

--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."OrderItem" (
    id text NOT NULL,
    order_id text NOT NULL,
    product_id text NOT NULL,
    quantity integer NOT NULL,
    price double precision NOT NULL
);


ALTER TABLE public."OrderItem" OWNER TO neondb_owner;

--
-- Name: OrderItemAdditional; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."OrderItemAdditional" (
    id text NOT NULL,
    order_item_id text NOT NULL,
    additional_id text NOT NULL,
    quantity integer NOT NULL,
    price double precision NOT NULL
);


ALTER TABLE public."OrderItemAdditional" OWNER TO neondb_owner;

--
-- Name: OrderItemCustomization; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."OrderItemCustomization" (
    id text NOT NULL,
    order_item_id text NOT NULL,
    customization_id text,
    value text NOT NULL,
    google_drive_folder_id text,
    google_drive_url text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."OrderItemCustomization" OWNER TO neondb_owner;

--
-- Name: Payment; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    order_id text NOT NULL,
    mercado_pago_id text,
    preference_id text,
    payment_method text,
    payment_type text,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    transaction_amount double precision NOT NULL,
    net_received_amount double precision,
    fee_details text,
    external_reference text,
    webhook_attempts integer DEFAULT 0 NOT NULL,
    last_webhook_at timestamp(3) without time zone,
    approved_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Payment" OWNER TO neondb_owner;

--
-- Name: Personalization; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Personalization" (
    id text NOT NULL,
    order_id text NOT NULL,
    item_id text NOT NULL,
    layout_base_id text NOT NULL,
    config_json jsonb NOT NULL,
    images jsonb NOT NULL,
    final_image_url text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Personalization" OWNER TO neondb_owner;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    price double precision NOT NULL,
    discount double precision DEFAULT 0,
    stock_quantity integer,
    is_active boolean DEFAULT true NOT NULL,
    image_url text,
    allows_customization boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    type_id text NOT NULL,
    production_time integer DEFAULT 0
);


ALTER TABLE public."Product" OWNER TO neondb_owner;

--
-- Name: ProductAdditional; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ProductAdditional" (
    product_id text NOT NULL,
    additional_id text NOT NULL,
    custom_price double precision,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProductAdditional" OWNER TO neondb_owner;

--
-- Name: ProductCategory; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ProductCategory" (
    product_id text NOT NULL,
    category_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProductCategory" OWNER TO neondb_owner;

--
-- Name: ProductComponent; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ProductComponent" (
    id text NOT NULL,
    product_id text NOT NULL,
    item_id text NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProductComponent" OWNER TO neondb_owner;

--
-- Name: ProductType; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ProductType" (
    id text NOT NULL,
    name text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProductType" OWNER TO neondb_owner;

--
-- Name: User; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    "firebaseUId" text,
    image_url text,
    phone text,
    address text,
    city text,
    state text,
    zip_code text,
    role text DEFAULT 'client'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO neondb_owner;

--
-- Name: WebhookLog; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."WebhookLog" (
    id text NOT NULL,
    payment_id text,
    topic text NOT NULL,
    resource_id text NOT NULL,
    raw_data text NOT NULL,
    processed boolean DEFAULT false NOT NULL,
    error_message text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    finalization_attempts integer DEFAULT 0 NOT NULL,
    finalization_succeeded boolean DEFAULT false
);


ALTER TABLE public."WebhookLog" OWNER TO neondb_owner;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO neondb_owner;

--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Category" (id, name) FROM stdin;
d96e513b-5bbb-4ab9-8df1-8564c3b53604	Rom├óntica
d02a0d8b-ded4-48b9-893e-df4b7b355bd4	Floricultura
4c3f88ef-ca4b-4dde-86b7-9c9d826e3d27	Anivers├írio
d625bfae-b018-4e5f-afa5-45bcacbc904b	Infantil
ef214886-43ed-46dc-a8fd-030ebfa84e1c	Bar
936c7f9e-31b0-4b37-a915-47edd363774b	Simples
fcf66014-aa33-4f86-8da0-08c93005217b	Cesto Express
\.


--
-- Data for Name: Customization; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: FeedBanner; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."FeedBanner" (id, feed_config_id, title, subtitle, image_url, link_url, text_color, is_active, display_order, created_at, updated_at) FROM stdin;
45d83fd2-e3bd-417b-8191-2fb778b1d8de	998ff8d9-68f7-46f8-94d9-95e4fd489eb9	Banner1		https://api.cestodamore.com.br/images/1764104198602-6c60c1bc9b79-banner_1764104198601-Banner_mais_qualidade.webp		#FFFFFF	t	0	2025-11-12 01:42:00.688	2025-11-25 20:56:39.043
\.


--
-- Data for Name: FeedConfiguration; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."FeedConfiguration" (id, name, is_active, created_at, updated_at) FROM stdin;
998ff8d9-68f7-46f8-94d9-95e4fd489eb9	Feed Principal	t	2025-10-24 03:03:24.678	2025-10-30 17:28:12.046
13b3ba73-ee40-4fe5-a1fa-31091040a071	Nova Configura├º├úo 2	f	2025-11-25 15:25:05.763	2025-11-25 15:25:05.763
\.


--
-- Data for Name: FeedSection; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: FeedSectionItem; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: FinancialSummary; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Item; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: ItemConstraint; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."ItemConstraint" (id, target_item_id, target_item_type, target_item_name, related_item_id, related_item_type, related_item_name, constraint_type, message, created_at, updated_at) FROM stdin;
08a8a1c1-ac9a-489a-929d-48ccc53ed569	a4ea1b6c-ffb3-4d47-9605-3f5e0abb38a4	ADDITIONAL	Pel├║cia de Cora├º├úo	94afdc38-60e4-4488-993e-9a471fb49b3b	ADDITIONAL	Chaveiro de Ursinho	MUTUALLY_EXCLUSIVE	N├úo pode ter ambos no mesmo produto	2025-11-03 19:55:01.573	2025-11-03 19:55:01.573
\.


--
-- Data for Name: Layout; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Layout" (id, item_id, name, image_url, layout_data, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: LayoutBase; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."OrderItem" (id, order_id, product_id, quantity, price) FROM stdin;
24f3c799-42df-488c-8829-a4bfa0579149	d91e5965-536a-41fa-9748-f4e96cddc1b4	e0a35053-1c6a-40b1-9ce5-349c2250f75f	1	0.5
\.


--
-- Data for Name: OrderItemAdditional; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."OrderItemAdditional" (id, order_item_id, additional_id, quantity, price) FROM stdin;
\.


--
-- Data for Name: OrderItemCustomization; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Payment" (id, order_id, mercado_pago_id, preference_id, payment_method, payment_type, status, transaction_amount, net_received_amount, fee_details, external_reference, webhook_attempts, last_webhook_at, approved_at, created_at, updated_at) FROM stdin;
dd11e73d-9582-4d5f-9b8c-688a4f6d11f3	d91e5965-536a-41fa-9748-f4e96cddc1b4	136527546876	\N	pix	bank_transfer	APPROVED	0.5	0.5	[]	ORDER_d91e5965-536a-41fa-9748-f4e96cddc1b4_1764901356292	1	2025-12-05 02:22:37	2025-12-05 02:23:55	2025-12-05 02:22:37.482	2025-12-05 02:23:58.316
\.


--
-- Data for Name: Personalization; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Personalization" (id, order_id, item_id, layout_base_id, config_json, images, final_image_url, created_at) FROM stdin;
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: ProductAdditional; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: ProductCategory; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: ProductComponent; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: ProductType; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."ProductType" (id, name, created_at, updated_at) FROM stdin;
d48c1d4d-a711-4bb0-bafe-1f4da7f8b41b	Cestas	2025-10-24 15:26:11.059	2025-10-24 15:26:11.059
4130d35a-fed7-4dc6-beb0-6d5810d8d023	Buqu├¬s	2025-11-12 19:36:16.354	2025-11-12 19:36:16.354
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: WebhookLog; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
\.


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Customization Customization_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Customization"
    ADD CONSTRAINT "Customization_pkey" PRIMARY KEY (id);


--
-- Name: FeedBanner FeedBanner_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."FeedBanner"
    ADD CONSTRAINT "FeedBanner_pkey" PRIMARY KEY (id);


--
-- Name: FeedConfiguration FeedConfiguration_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."FeedConfiguration"
    ADD CONSTRAINT "FeedConfiguration_pkey" PRIMARY KEY (id);


--
-- Name: FeedSectionItem FeedSectionItem_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."FeedSectionItem"
    ADD CONSTRAINT "FeedSectionItem_pkey" PRIMARY KEY (id);


--
-- Name: FeedSection FeedSection_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."FeedSection"
    ADD CONSTRAINT "FeedSection_pkey" PRIMARY KEY (id);


--
-- Name: FinancialSummary FinancialSummary_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."FinancialSummary"
    ADD CONSTRAINT "FinancialSummary_pkey" PRIMARY KEY (id);


--
-- Name: ItemConstraint ItemConstraint_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ItemConstraint"
    ADD CONSTRAINT "ItemConstraint_pkey" PRIMARY KEY (id);


--
-- Name: Item Item_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Item"
    ADD CONSTRAINT "Item_pkey" PRIMARY KEY (id);


--
-- Name: LayoutBase LayoutBase_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."LayoutBase"
    ADD CONSTRAINT "LayoutBase_pkey" PRIMARY KEY (id);


--
-- Name: Layout Layout_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Layout"
    ADD CONSTRAINT "Layout_pkey" PRIMARY KEY (id);


--
-- Name: OrderItemAdditional OrderItemAdditional_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItemAdditional"
    ADD CONSTRAINT "OrderItemAdditional_pkey" PRIMARY KEY (id);


--
-- Name: OrderItemCustomization OrderItemCustomization_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItemCustomization"
    ADD CONSTRAINT "OrderItemCustomization_pkey" PRIMARY KEY (id);


--
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Personalization Personalization_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Personalization"
    ADD CONSTRAINT "Personalization_pkey" PRIMARY KEY (id);


--
-- Name: ProductAdditional ProductAdditional_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductAdditional"
    ADD CONSTRAINT "ProductAdditional_pkey" PRIMARY KEY (product_id, additional_id);


--
-- Name: ProductCategory ProductCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductCategory"
    ADD CONSTRAINT "ProductCategory_pkey" PRIMARY KEY (product_id, category_id);


--
-- Name: ProductComponent ProductComponent_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductComponent"
    ADD CONSTRAINT "ProductComponent_pkey" PRIMARY KEY (id);


--
-- Name: ProductType ProductType_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductType"
    ADD CONSTRAINT "ProductType_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WebhookLog WebhookLog_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."WebhookLog"
    ADD CONSTRAINT "WebhookLog_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: FinancialSummary_date_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "FinancialSummary_date_key" ON public."FinancialSummary" USING btree (date);


--
-- Name: ItemConstraint_related_item_id_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ItemConstraint_related_item_id_idx" ON public."ItemConstraint" USING btree (related_item_id);


--
-- Name: ItemConstraint_target_item_id_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ItemConstraint_target_item_id_idx" ON public."ItemConstraint" USING btree (target_item_id);


--
-- Name: Layout_item_id_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Layout_item_id_idx" ON public."Layout" USING btree (item_id);


--
-- Name: Payment_mercado_pago_id_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Payment_mercado_pago_id_key" ON public."Payment" USING btree (mercado_pago_id);


--
-- Name: Payment_order_id_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Payment_order_id_key" ON public."Payment" USING btree (order_id);


--
-- Name: Personalization_item_id_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Personalization_item_id_idx" ON public."Personalization" USING btree (item_id);


--
-- Name: Personalization_order_id_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Personalization_order_id_idx" ON public."Personalization" USING btree (order_id);


--
-- Name: ProductComponent_item_id_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ProductComponent_item_id_idx" ON public."ProductComponent" USING btree (item_id);


--
-- Name: ProductComponent_product_id_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ProductComponent_product_id_idx" ON public."ProductComponent" USING btree (product_id);


--
-- Name: ProductComponent_product_id_item_id_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "ProductComponent_product_id_item_id_key" ON public."ProductComponent" USING btree (product_id, item_id);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_firebaseUId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "User_firebaseUId_key" ON public."User" USING btree ("firebaseUId");


--
-- Name: Customization Customization_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Customization"
    ADD CONSTRAINT "Customization_item_id_fkey" FOREIGN KEY (item_id) REFERENCES public."Item"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FeedBanner FeedBanner_feed_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."FeedBanner"
    ADD CONSTRAINT "FeedBanner_feed_config_id_fkey" FOREIGN KEY (feed_config_id) REFERENCES public."FeedConfiguration"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FeedSectionItem FeedSectionItem_feed_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."FeedSectionItem"
    ADD CONSTRAINT "FeedSectionItem_feed_section_id_fkey" FOREIGN KEY (feed_section_id) REFERENCES public."FeedSection"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FeedSection FeedSection_feed_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."FeedSection"
    ADD CONSTRAINT "FeedSection_feed_config_id_fkey" FOREIGN KEY (feed_config_id) REFERENCES public."FeedConfiguration"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Item Item_layout_base_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Item"
    ADD CONSTRAINT "Item_layout_base_id_fkey" FOREIGN KEY (layout_base_id) REFERENCES public."LayoutBase"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: OrderItemAdditional OrderItemAdditional_additional_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItemAdditional"
    ADD CONSTRAINT "OrderItemAdditional_additional_id_fkey" FOREIGN KEY (additional_id) REFERENCES public."Item"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OrderItemAdditional OrderItemAdditional_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItemAdditional"
    ADD CONSTRAINT "OrderItemAdditional_order_item_id_fkey" FOREIGN KEY (order_item_id) REFERENCES public."OrderItem"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OrderItemCustomization OrderItemCustomization_customization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItemCustomization"
    ADD CONSTRAINT "OrderItemCustomization_customization_id_fkey" FOREIGN KEY (customization_id) REFERENCES public."Customization"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: OrderItemCustomization OrderItemCustomization_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItemCustomization"
    ADD CONSTRAINT "OrderItemCustomization_order_item_id_fkey" FOREIGN KEY (order_item_id) REFERENCES public."OrderItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_order_id_fkey" FOREIGN KEY (order_id) REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OrderItem OrderItem_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_product_id_fkey" FOREIGN KEY (product_id) REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Order Order_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Payment Payment_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_order_id_fkey" FOREIGN KEY (order_id) REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Personalization Personalization_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Personalization"
    ADD CONSTRAINT "Personalization_item_id_fkey" FOREIGN KEY (item_id) REFERENCES public."Item"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Personalization Personalization_layout_base_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Personalization"
    ADD CONSTRAINT "Personalization_layout_base_id_fkey" FOREIGN KEY (layout_base_id) REFERENCES public."LayoutBase"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Personalization Personalization_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Personalization"
    ADD CONSTRAINT "Personalization_order_id_fkey" FOREIGN KEY (order_id) REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductAdditional ProductAdditional_additional_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductAdditional"
    ADD CONSTRAINT "ProductAdditional_additional_id_fkey" FOREIGN KEY (additional_id) REFERENCES public."Item"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ProductAdditional ProductAdditional_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductAdditional"
    ADD CONSTRAINT "ProductAdditional_product_id_fkey" FOREIGN KEY (product_id) REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ProductCategory ProductCategory_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductCategory"
    ADD CONSTRAINT "ProductCategory_category_id_fkey" FOREIGN KEY (category_id) REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductCategory ProductCategory_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductCategory"
    ADD CONSTRAINT "ProductCategory_product_id_fkey" FOREIGN KEY (product_id) REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductComponent ProductComponent_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductComponent"
    ADD CONSTRAINT "ProductComponent_item_id_fkey" FOREIGN KEY (item_id) REFERENCES public."Item"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProductComponent ProductComponent_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductComponent"
    ADD CONSTRAINT "ProductComponent_product_id_fkey" FOREIGN KEY (product_id) REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Product Product_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_type_id_fkey" FOREIGN KEY (type_id) REFERENCES public."ProductType"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict Td4C3e4LRpaOPLMxxFWBrTt7UQiz4TmzFgoDW11VViVa6D4JImPQc3gxEfooSXG

